<div>
  <div class="image-box">
    <img src="/images/<%= data["filename"] %>">
  </div>
  <div>
    <%= data["keyword"] %>
  </div>
  <div>
    タグ:
    <% if tags.size > 0 %>
      <%= tags.join ', ' %>
    <% else %>
      なし
    <% end %>
  </div>
</div>
