<h2>Search</h2>
<form action="/search" method="GET">
<input type="text" name="q" size="10">
<input type="radio" name="mode" value="tag">タグ
<input type="radio" name="mode" value="keyword">キーワード
<input type="submit" value="検索">
</form>
<h2>Recent <%= recent_images.size %> images</h2>
<div id="recent-images">
  <% recent_images.each do |image| %>
    <div class="image-box">
      <a href="/images/detail/<%= image %>">
      <img src="/images/<%= image %>?thumbnail=1">
      </a>
    </div>
  <% end %>
</div>
