<h2>Search</h2>
<%== partial(:search_form) %>
<h2>Recent <%= recent_images.size %> images</h2>
<div id="recent-images">
  <% recent_images.each do |image| %>
    <div class="image-box">
      <a href="/images/detail/<%= image %>">
      <img src="/images/<%= image %>?thumbnail=1">
      </a>
    </div>
  <% end %>
</div>
