h1 {
  text-align: center;
}

#page {
  text-align: center;
}

#recent-images {
  display: flex;
  flex-wrap: wrap;
}

#recent-images .image-box {
  width: 140px;
  height: 140px;
  padding: 5px;
}

.image-box {
  text-align: center;
}
